<!DOCTYPE html>
<html>
  <head>
    <title>docgoo.se</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="docgoo.se is an open source platform for students and educators to share open source homework solutions, past exams, lecture notes, and more.">
    <meta name="author" content="Patrick Steadman & Clark Gredoña">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    </head>
    <body>
	<nav class="navbar navbar-fixed-top">
    <div class='row'>
      <div class='col-sm-2 col-sm-offset-1 hidden-xs'>  
        <a href="#"><h1>docgoo<span class='black'>.se</span></h1></a>
      </div>
      <div class='col-sm-7 col-xs-12'>
            <div class='input-group'>
              <input type="text" class="form-control" placeholder="Search by course code or name...">
              <div class="input-group-btn">
                <button style='background-color: #b01c2e; color: white; border-color:rgb(170, 24, 24) ;' type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Cornell <span style="color: white;" class="caret"></span></button>
                <ul class="dropdown-menu">
                    <% schoolList.forEach(function(school, index){ %>
                     <li style="background-color: <%= school.mainColor %>"><a style='color:  <%= school.secondaryColor %>;' href="/<%= school.name %>"><b><%= school.name %></b></a></li>
                    <% }) %>
                    <li><a href="#">Add Your School</a></li>
                </ul>
              </div>
            </div>
      </div>
      <div id='navbar-link' class='col-sm-2 hidden-xs'>   
    		<a rel="leanModal" name="renderUploadForm" href="#uploadForm">Upload</a>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-fixed-bottom">
    <div style='float: right;' id='navbar-link' class='col-xs-2 visible-xs'>   
        <a rel="leanModal" name="renderUploadForm" href="#uploadForm">Upload</a>
    </div>
  </nav>
  <div class='container'>
    <ul>
      <% courseList.forEach(function(course, index){   %>
        <li><%= course.departmentCode %> <%= course.courseNumber %>: <%= course.title %> </li>
     <% }) %>
    </ul>
       <div class="container" id="aboutContainer">
			<div class='row'>
                <div class='col-md-12'>
                    <center><h2>docgoo.se...</h2><center>
					<ul class="aboutList">
						<li>...is an open source platform for students to share course documents.
						<li>...is a repository of past exams, homework solutions, lecture notes, and more.
						<li>...levels the playing field by ensuring all students, not just those with friends from prior semesters, have equal access to course material.
						<li>...helps students help each other!
					</ul>
                </div>
            </div>
			<div class='row'>
			<center><h2>
                <div class='col-md-3'>
                    22 schools					
                </div>
				
                <div class='col-md-3'>
                    20k courses					
                </div>
				
                <div class='col-md-3'>
                    100k uploads					
                </div>
				
                <div class='col-md-3'>
                    1 million downloads				
                </div>
            </div></center></h2>
		</div>
		<div class='row'>
			<div class='col-md-12'>
			<h3><center>About the founders:</center></h3>
			</div>
		</div>
		<div class='row'>
			<center>
                <div class='col-md-6'>
                   <h4>Clark Gredoña</h4>
					<p>Clark is in his third year studying Computer Engineering at McGill University.
                </div>
				
                <div class='col-md-6'>
                    <h4>Patrick Steadman</h4>				
                </div>
            </div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
			<h3><center>Contact us:</center></h3>
			
			</div>
		</div>

		<div class='row'>
			<div class='col-md-1 col-md-offset-5'>
				<center><a href="http://www.facebook.com/docgoose">Facebook</a></center>
			</div>
			<div class='col-md-1'>
				<center><a href="mailto:docgoose@gmail.com">Email</a></center>
			</div>
		</div>
            <!-- row -->
        </div>
        <!-- container -->
        <div id="uploadForm">	<a class="modal_close" href="#"></a>

            <form id="actualUploadForm" method="post" enctype="multipart/form-data" action="/api/upload/" data-validate="parsley" onSubmit="return checkFile()">
                <div class="txt-fld">
                    <label for="">File name</label>
                    <input type="text" name="title" data-required="true" />
                    <p id='file_supports'>Examples: "Spring 2011 Final Exam", "Fall 2012 Assignment 7 Solution", "Summer 2013 Kirchoff's Rules Lecture Notes"</p>
                </div>
                <div class="file-fld">
                    <input id="fileField" type="file" name="file" data-required="true" />
                    <p id='file_support'>Supported file types: .txt, .pdf, .doc, .docx, .xls, .p, .f, .s, .tex, .java, .c, .nsf, .pptx, .sxi, .sxc</p>
                </div>
                <div class="btn-fld">
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>
        <!-- JAVASCRIPTS -->
        <script type='text/javascript' src='/javascripts/jquery-1.10.2.min.js'></script>
        <script type='text/javascript' src='/javascripts/jquery.leanModal.min.js'></script>
        <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
        <script type='text/javascript' src='/javascripts/underscore.js'></script>
        <script type='text/javascript' src='/javascripts/backbone-min.js'></script>
        <script type="text/javascript" src="/javascripts/parsley.js"></script>
        <script type="text/javascript">
            var regex = /(\.txt|\.pdf|\.doc|\.docx|\.tex|\.java|\.c|\.s|\.tex|\.xls|\.p|\.f|\.nsf|\.pptx|\.sxi|\.sxc)$/i;

            $(function() {
                $('a[rel*=leanModal]').leanModal({
                    closeButton: ".modal_close"
                });
            });

            function checkFile() {
                var fup = document.getElementById('fileField');
                var fileName = fup.value;
                if (!regex.test(fileName)) {
                    $('#fileField').css('background-color', '#FDE0E0');
                    $('#file_support').show();
                    return false;
                }
                return true;
            }

            $("#fileField").change(function() {
                var thisField = $("#fileField");
                if (!regex.test(this.value)) {
                    thisField.css('background-color', '#FDE0E0');
                    $('#file_support').show();
                } else {
                    thisField.css('background-color', 'white');
                }
            });
        </script>
        <!--<script type='text/javascript' src='javascripts/site.js'></script>-->
    </body>

</html>